*, *:before, *:after {
  margin:          0;
  border:          0;
  padding:         0;
  outline:         0;
  border-spacing:  0;
  font-size:       100%;
  list-style:      none;
  quotes:          none;
  content:         none;
  font:            inherit;
  box-sizing:      border-box;  
  border-collapse: collapse;
}
